body {
  height: 6000px;
}

/* header bg image */
.bg-slider {
  position: relative;
  background-image: url(/images/bg1.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 900px;
}
/* navigation */
.nav {
  position: absolute;
  width: 100%;
  height: 120px;
}

.nav-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-wrap .logo h1 a img {
  width: 200px;
}

.navlist {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlist li {
  font-family: 'GmarketSansMedium';
  margin: 0 20px;
}

.navlist li a {
  font-size: 22px;
  color: #fff;
}
/* dimmed-layer */
.dimmed-layer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.bg-write {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-30%);
}

.bg-write h2 {
  font-family: 'GmarketSansMedium';
  font-size: 64px;
  text-align: center;
  color: #fff;
  line-height: 100px;
}

.bg-write h3 {
  font-family: 'GmarketSansMedium';
  font-size: 24px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.bg-write h3 span {
  display: inline-block;
  width: 20px;
  height: 30px;
  background-image: url(/images/place.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}

.bg-write p {
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.bg-write button {
  display: block;
  margin: 20px auto 0;
  width: 140px;
  height: 30px;
  border: 2px solid #fff;
  background-color: transparent;
}

.bg-write button a {
  display: block;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  margin-top: 170px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.dot:first-child {
  background-color: #85858e;
  border: 2px solid #fff;
}

.dot:last-child {
  margin-right: 0;
}
/* bg slider button */
.bg-slider .slider-button .left-button,
.bg-slider .slider-button .right-button {
  color: #fff;
  font-size: 60px;
  position: absolute;
  top: 50%;
  font-family: 'NEXONGothic';
}

.slider-button .left-button {
  left: 100px;
}

.slider-button .right-button {
  right: 100px;
}
/* festival */
.festival {
  position: relative;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.festival-write {
  width: 400px;
}

.festival-write h3 {
  font-family: 'GmarketSansMedium';
  font-size: 24px;
}

.festival-write p {
  font-size: 16px;
  margin-top: 20px;
}

.festival-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.festival-list a {
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.festival-info .festival-list a .festival-img {
  display: block;
  background-image: #000;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 20px;
  flex-shrink: 0;
  position: relative;
}

.festival-info .festival-list a .festival-img img {
  height: 100%;
  max-width: none;
}

.info-write {
  margin-left: 20px;
}

.info-write h3 {
  font-family: 'GmarketSansMedium';
  font-size: 22px;
}

.info-write .period {
  margin: 10px 0;
  font-size: 12px;
}

.info-write .info-text {
  font-size: 14px;
}

.festival-info .slider-button .left-button,
.festival-info .slider-button .right-button {
  color: #000;
  font-size: 30px;
  position: absolute;
  top: 50%;
  font-family: 'NEXONGothic';
  cursor: pointer;
}

.festival-info .slider-button .left-button::before {
  content: '<';
  position: absolute;
  left: -150px;
  transform: translateY(-50%);
}

.festival-info .slider-button .right-button::before {
  content: '>';
  position: absolute;
  right: -150px;
  transform: translateY(-50%);
}

/* main */

/* first-section */
.container {
  max-width: 1440px;
  margin: 200px auto 0;
}

.jeju-info {
  position: relative;
  max-width: 1440px;
  max-height: 600px;
  border-radius: 20px;
  overflow: hidden;
}

.jeju-info .img-wrap {
  width: 100%;
  height: 100%;
}

.jeju-info .img-wrap img {
  width: 100%;
  height: 100%;
}

.text-wrap {
  position: absolute;
  top: 50%;
  left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}

.text-wrap .text h3 {
  font-family: "GmarketSansMedium";
  font-size: 38px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 4px #000;
}

.text-wrap .text h3 .accent {
  color: #ffca3a;
  font-size: 50px;
}

.text-wrap button {
  width: 140px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #fff;
  margin-top: 40px;
}

.text-wrap button a {
  color: #fff;
  font-size: 16px;
}

/* second section */
.container.travel {
  position: relative;
  background-image: url(/images/travelbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}
.container.travel .travel-text {
  text-align: center;
}
.container.travel .travel-text h3 {
  font-family: "GmarketSansMedium";
  font-size: 52px;
}

.container.travel .travel-text h3 .accent {
  color: #ffca3a;
}

.container.travel .travel-text p {
  font-size: 26px;
  margin: 30px 0;
}

.container.travel .travel-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

.container.travel .travel-cards .travel-card {
  position: relative;
  max-width: 440px;
  max-height: 440px;
  margin: 0 20px;
  border-radius: 20px;
  overflow: hidden;
}

.container.travel .travel-cards .travel-card .travel-img {
  width: 100%;
  height: 100%;
}

.container.travel .travel-cards .travel-card .travel-img img {
  max-width: none;
  width: 100%;
  height: 100%;
}

.container.travel .travel-cards .travel-card .travel-dimmed {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}

.container.travel .travel-cards .travel-card .travel-dimmed .travel-info {
  position: absolute;
  bottom: 0;
  width: 70%;
  opacity: 0;
  transition: all 0.8s;
}

.container.travel .travel-cards .travel-card .travel-dimmed .travel-info button {
  width: 140px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #fff;
  margin-top: 40px;
}

.container.travel .travel-cards .travel-card .travel-dimmed .travel-info button a {
  display: block;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.container.travel .travel-cards .travel-card .travel-dimmed:hover {
  height: 100%;
}

.container.travel .travel-cards .travel-card .travel-dimmed:hover .travel-info {
  position: relative;
  margin-top: 30px;
  opacity: 1;
}

.container.travel .travel-cards .travel-card .travel-dimmed h3 {
  font-family: "GmarketSansMedium";
  font-size: 32px;
  margin-bottom: 20px;
}

.container.travel .travel-cards .travel-card .travel-dimmed p {
  font-size: 24px;
}

.container.travel .etcbtn {
  font-family: "GmarketSansMedium";
  font-size: 24px;
  text-align: center;
  margin: 50px auto 0;
  background-color: #ffca3a;
  border-radius: 14px;
  max-width: 400px;
  line-height: 60px;
}

.container.travel .slider-button .left-button,
.container.travel .slider-button .right-button {
  color: #000;
  font-size: 60px;
  position: absolute;
  top: 50%;
  font-family: 'NEXONGothic';
  cursor: pointer;
}

.container.travel .slider-button .left-button::before {
  content: '<';
  position: absolute;
  left: -150px;
  transform: translateY(-50%);
}

.container.travel .slider-button .right-button::before {
  content: '>';
  position: absolute;
  right: -150px;
  transform: translateY(-50%);
}

/* third Section */
.container.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container.video .video-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container.video .video-text h3 {
  font-family: "GmarketSansMedium";
  font-size: 52px;
}

.container.video .video-text h3 .accent {
  color: #ffca3a;
}

.container.video .video-text p {
  font-size: 26px;
  margin: 30px 0;
}

.container.video .youtube-video {
  position: relative;
  padding-top: 38%;
  width: 100%;
  height: 0;
  border-radius: 20px;
  overflow: hidden;
  max-width: 1000px;
  max-height: 520px;
}

.container.video .youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}