.nav {
  height: 140px;
  margin: 0 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .logo h1 a img {
  width: 200px;
}

.navlist {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlist li {
  font-family: 'GmarketSansMedium';
  margin: 0 20px;
}

.navlist li a {
  font-size: 22px;
}